
.RadPanelBar {
    float: left;
    width: 200px;
    display: block;
}

    .RadPanelBar .rpRootGroup {
        border: none !important;
        width: 200px;
    }

    .RadPanelBar .rpText {
        /*color: #006ca9;*/
        font-size: 12px;
        text-transform: uppercase;
        margin-left: 0px;
        color: #444;
        font-weight: bold;
        padding-left: 15px;
        background: url(img/sd_navleft1.png) no-repeat left 14px;
    }

        .RadPanelBar .rpText:hover {
            color: #1e74cb;
            background: url(img/sd_nav_left1_hover.png) no-repeat left 14px;
        }

    .RadPanelBar .rpLink.expanded .rpText {
        color: #1e74cb;
        background: url(img/sd_nav_left1_hover.png) no-repeat left 14px;
    }
    /*.RadPanelBar .rpText:hover {
            color: #D70662;
        }

    .RadPanelBar .rpItem {
        background: url("img/arrow-menu-left_1.png") no-repeat scroll left 11px transparent;
    }*/

    .RadPanelBar .rpItem {
         
    }
    .RadPanelBar .rpLink {
        font: normal normal 12px/35px Arial !important;
        height: 35px;
        text-decoration: none;
        width: 100%;
        padding: 0px 0px;
        position: relative;
        display: block;
        background: none;
       border-bottom: 1px solid #efefef;
    }

    .RadPanelBar .rpFirst .rpLink {
        background: none !important;
    }

    .RadPanelBar .rpRootGroup .rpItem .rpLink .rpOut {
        background: transparent no-repeat left top !important;
        width: 100%;
        /*line-height: 22px;*/
    }


    .RadPanelBar .rpText .active {
        background: transparent none no-repeat 15px center;
        padding-left: 30px;
        font-weight: bold;
        color: #FFFFFF !important;
    }



    .RadPanelBar .rpItem .expanded .rpText {
        /*color: #eb5f22 !important;*/
    }

    .RadPanelBar .rpRootGroup .rpItem {
        
    }
    /*Style cho menu cap 1*/
    .RadPanelBar .rpSlide {
        position: relative;
        display: block;
    }

        .RadPanelBar .rpSlide .rpLevel1 .rpItem .rpLink {
            color: #444;
            display: block;
            height: auto;
        }

            /*.RadPanelBar .rpSlide .rpLevel2 .rpItem .rpLink {
            background: url("img/sd_navleft2.png") no-repeat scroll 30px 10px transparent !important;
        }*/

            .RadPanelBar_Default a.rpExpanded {
                border-color: #efefef;
            }
            .RadPanelBar .rpGroup .rpLink,.RadPanelBar .rpGroup a.rpLink:hover {
                border-bottom: 1px solid #efefef;
            }

            .RadPanelBar .rpSlide .rpLevel1 .rpItem .expanded .rpText, .RadPanelBar .rpSlide .rpLevel1 .rpItem .rpLink:hover .rpText {
                color: #1e74cb !important;
                background: url("img/sd_navleft2_hover.png") no-repeat 15px 14px transparent !important;
            }
            /*.RadPanelBar .rpSlide .rpLevel2 .rpItem .expanded, .RadPanelBar .rpSlide .rpLevel2 .rpItem .rpLink:hover {
                background: url("img/sd_navleft2_hover.png") no-repeat 30px 10px transparent !important;
            }*/
            .RadPanelBar .rpSlide .rpLevel1 .rpItem .rpLink .rpText {
                font-weight: normal;
                font-size: 14px !important;
                text-transform: none !important;
                padding: 0px;
                padding-left: 28px;
                background: url("img/sd_navleft2.png") no-repeat scroll 15px 14px transparent !important;
                   padding-top: 6px;
                padding-bottom: 6px;
                line-height: 20px;

            }
          

        .RadPanelBar .rpSlide .rpLevel1 .rpItem a:hover {
        }

        /*Style cho menu cap 2 */
        .RadPanelBar .rpSlide .rpSlide {
            display: none;
        }

        .RadPanelBar .rpSlide .rpLevel2 .rpItem {
            /*background: url("img/arrow-menu-left_3.png") no-repeat scroll 55px 13px transparent;*/
        }
        /*Style cho menu cap 3 */
        .RadPanelBar .rpSlide .rpLevel3 .rpItem {
            background-image: none;
        }

    .RadPanelBar .rpFirst .rpLink {
        background: none !important;
    }

    .RadPanelBar .rpExpandHandle {
        display: none !important;
    }

.RadPanelBar_Left .rpSlide .rpGroup .rpItem {
    background: none;
}

    .RadPanelBar_Left .rpSlide .rpGroup .rpItem .rpLink {
        background: none;
        width: 100%;
        padding: 5px 4px 5px 0px;
        min-height: 17px;
        display: block;
        position: relative !important;
        overflow: hidden;
    }

.RadPanelBar_Left .rpSlide .rpGroup .rpLast .rpLink {
    background: none;
    width: 100%;
    padding: 5px 4px 5px 0px;
    min-height: 0px;
    display: block;
    position: relative !important;
    overflow: hidden;
}

.RadPanelBar .rpGroup .rpText {
    font-weight: normal !important;
    background: none;
    padding-left: 10px;
}

.RadPanelBar_Default div.rpHeaderTemplate, .RadPanelBar_Default a.rpLink {
    /*border: none !important;*/
    background: none !important;
    color: #006ca9;
}

.RadPanelBar_Default .rpGroup a.rpLink, .RadPanelBar_Default .rpGroup a.rpLink .rpOut {
    background: none !important;
}
