/*.title_menuleft {
    float: left;
    background: url(img/bg_nav.png) no-repeat transparent;
    height: 30px;
    line-height: 30px;
    color: #000;
    font-weight: bold;
    font-size: 19px;
    padding-left: 52px;
}*/

.RadPanelBar {
    float: left;
    width: 200px;
    /*background: url(img/border_left.jpg) no-repeat right 30px transparent;*/
    display: block;
    margin-bottom: 10px;
    margin-top: 5px;
}

    .RadPanelBar .rpRootGroup {
        border: none !important;
        width: 199px;
    }

    .RadPanelBar .rpText {
        /*color: #006ca9;*/
        font-size: 13px;
        /*font-weight: bold;*/
        /*text-transform: uppercase;*/
        margin-left: 0px;
        color: #dd6f3e;
        padding: 0px;
    }

    /*.RadPanelBar .rpText:hover {
            color: #D70662;
        }

    .RadPanelBar .rpItem {
        background: url("img/arrow-menu-left_1.png") no-repeat scroll left 11px transparent;
    }*/

.RadPanelBar .rpItem.rpFirst .rpLink.rpExpandable, .RadPanelBar .rpItem .rpLink.expanded {
    background: url("img/buliet_artive.png")no-repeat scroll 0px 10px transparent !important;
    
}
.RadPanelBar .rpItem .rpLink, .RadPanelBar_Default a.rpLink:hover {
    background: url("img/arrow-menu-left_3.png") no-repeat scroll 2px 9px transparent !important;
    display: block;
}
    .RadPanelBar .rpLink {
        font: normal normal 12px/24px Arial;
        /*height: 24px;*/
        text-decoration: none;
        width: 100%;
        padding: 0px 0px;
        position: relative;
        display: block;
        background: none;
    }

    .RadPanelBar .rpFirst .rpLink {
        background: none !important;
    }
    .RadPanelBar .rpRootGroup>.rpItem>a {
        border-bottom: 1px dotted #e0c5b9;
        /*height: 28px;*/
        line-height: 18px;
        
    }
        .RadPanelBar .rpRootGroup > .rpItem > a:hover {
             /*border-bottom: 1px dotted #e0c5b9 !important;*/
            /*height: 27px;*/
            
        }
    .RadPanelBar .rpRootGroup>.rpItem>a>span>span {
        font-size: 13px !important;
        /*font-weight: bold !important;*/
        margin-bottom: 2px;
    }
    .RadPanelBar .rpRootGroup>.rpItem>a>span>span:hover {
        color: #d38f71;
        
    }
    .RadPanelBar .rpRootGroup>.rpItem>a:hover>span>span {
        margin-bottom: 2px;
    }
    .RadPanelBar .rpRootGroup .rpItem .rpLink:hover .rpOut {
         padding: 4px 0 4px 12px;
    }

    .RadPanelBar .rpRootGroup .rpItem .rpLink .rpOut {
       /*padding-left: 12px;*/
        padding: 4px 0 4px 12px;
background: transparent no-repeat left top !important;
border-bottom: dotted 1px #e0c5b9;
    }


    .RadPanelBar .rpText .active {
        background: transparent none no-repeat 15px center;
        padding-left: 30px;
        font-weight: bold;
        color: #FFFFFF !important;
    }

  

        .RadPanelBar .rpItem .expanded .rpText {
            /*color: #eb5f22 !important;*/
        }

    .RadPanelBar .rpRootGroup .rpItem {
        border: none !important;
    }
    /*Style cho menu cap 1*/
    .RadPanelBar .rpSlide {
        position: relative;
        display: none;
    }
  
        .RadPanelBar .rpSlide .rpLevel1 .rpItem .rpLink {
            /*background: url("img/arrow-menu-left_2.png") no-repeat scroll 10px 8px transparent !important;color: #666666;*/
            display: block;
            height: auto;
            /*height: 30px;*/
            /*line-height: 28px;*/
            line-height: 18px;
        }

           


         .RadPanelBar .rpSlide .rpLevel1 .rpItem .expanded ,.RadPanelBar .rpSlide .rpLevel1 .rpItem .rpLink:hover{color: #d38f71 !important;
        /*background: url("img/arrow-menu-left_active.png") no-repeat scroll 10px 8px transparent !important;*/
    }
            .RadPanelBar .rpSlide .rpLevel1 .rpItem .rpLink .rpText {
                font-weight: normal;
                font-size: 12px;
                text-transform: none !important;
                
                margin-left: 8px;
                padding: 0px;
            }
            .RadPanelBar .rpSlide .rpLevel1 .rpItem .rpLink:hover .rpText {
                color: #c54106;
            }
        .RadPanelBar .rpSlide .rpLevel1 .rpItem a:hover { }

        /*Style cho menu cap 2 */
        .RadPanelBar .rpSlide .rpLevel2 .rpItem {
            background: url("img/arrow-menu-left_3.png") no-repeat scroll 55px 13px transparent;
        }
        /*Style cho menu cap 3 */
        .RadPanelBar .rpSlide .rpLevel3 .rpItem {
            background-image: none;
        }

    .RadPanelBar .rpFirst .rpLink {
        background: none !important;
    }
    .RadPanelBar .rpFirst > a.rpLink {
        background: url("img/arrow-menu-left_3.png") no-repeat  2px 9px  !important;
    }

    .RadPanelBar .rpExpandHandle {
        display: none !important;
    }

.RadPanelBar_Left .rpSlide .rpGroup .rpItem {
    background: none;
}

    .RadPanelBar_Left .rpSlide .rpGroup .rpItem .rpLink {
        background: none;
        width: 100%;
        padding: 5px 4px 5px 0px;
        min-height: 17px;
        display: block;
        position: relative !important;
        overflow: hidden;
    }

.RadPanelBar_Left .rpSlide .rpGroup .rpLast .rpLink {
    background: none;
    width: 100%;
    padding: 5px 4px 5px 0px;
    min-height: 0px;
    display: block;
    position: relative !important;
    overflow: hidden;
}

.RadPanelBar .rpGroup .rpText {
    font-weight: normal !important;
    background: none;
    padding-left: 10px;
}

.RadPanelBar_Default div.rpHeaderTemplate, .RadPanelBar_Default a.rpLink {
    border: none !important;
    background: none !important;
    color: #006ca9;
}

.RadPanelBar_Default .rpGroup a.rpLink, .RadPanelBar_Default .rpGroup a.rpLink .rpOut {
    background: none !important;
}
