<?xml version="1.0" encoding="UTF-8"?>
<connectionStrings>
  <remove name="LocalSqlServer" />
  <add name="LocalSqlServer" connectionString="data source=data.bicweb.vn;uid=greentravelviet_user; pwd=VXIZQJBI; Database=greentravelviet_com;Max Pool Size=20000" providerName="System.Data.SqlClient" />
</connectionStrings>