<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- software architects - CachingHandler -->
    <sectionGroup name="SoftwareArchitects">
      <section name="Caching" requirePermission="false" type="SoftwareArchitects.Web.Configuration.CachingSection, SoftwareArchitects.Web.CachingHandler"/>
    </sectionGroup>
  </configSections>
  <connectionStrings configSource="data.config"/>
  <system.web>
    <httpModules>
      <add name="FormsAuthSessionEnforcement" type="FormsAuthSessionEnforcement"/>
    </httpModules>
    <httpHandlers>
      <!--AJAX-->
      <remove verb="*" path="*.asmx"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler" validate="false"/>
      <add verb="*" path="*.asmx" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="*" path="*_AppService.axd" validate="false" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"/>
      <add verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=1.0.61025.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" validate="false"/>
      <add path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler" verb="*" validate="false"/>
      <add path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" validate="false"/>
      <add path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" validate="false"/>
      <!--AJAX-->
      <add verb="*" path="*.gif.ashx" type="SoftwareArchitects.Web.CachingHandler,SoftwareArchitects.Web.CachingHandler"/>
      <add verb="*" path="*.jpg.ashx" type="SoftwareArchitects.Web.CachingHandler,SoftwareArchitects.Web.CachingHandler"/>
      <add verb="*" path="*.png.ashx" type="SoftwareArchitects.Web.CachingHandler,SoftwareArchitects.Web.CachingHandler"/>
      <add verb="*" path="*.jpeg.ashx" type="SoftwareArchitects.Web.CachingHandler,SoftwareArchitects.Web.CachingHandler"/>
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Web.Routing, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Speech, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Web.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="WindowsBase, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="mscorlib, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Data.Linq, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="Telerik.Web.Design, Version=2016.3.1027.45, Culture=neutral, PublicKeyToken=121FAE78165BA3D4"/>
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider"/>
      </buildProviders>
    </compilation>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" fileEncoding="utf-8" culture="en-US"/>
    <pages theme="CommonSkin" maintainScrollPositionOnPostBack="true" validateRequest="false" enableEventValidation="false" viewStateEncryptionMode="Never" controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="asp" namespace="System.Web.UI.WebControls"/>
        <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI"/>
        <add tagPrefix="bic" namespace="BIC.WebControls" assembly="BIC.Web.UI"/>
        <add tagPrefix="bic" namespace="BIC.WebControls" assembly="BICSupport"/>
        <add tagPrefix="bic" namespace="BIC.WebControls" assembly="PagerUI"/>
        <add tagPrefix="bic" namespace="BIC.WebControls" assembly="RoomInfo"/>
        <add tagPrefix="bic" namespace="BIC.WebControls" assembly="TourHotel"/>
        <add tagPrefix="bic" namespace="BIC.WebControls" assembly="Tour"/>
        <!--<add tagPrefix="asp" namespace="Saplin.Controls" assembly= "DropDownCheckBoxes"/>-->
      </controls>
    </pages>
    <authentication mode="Forms">
      <forms name="CMSAuth" loginUrl="admin/Login.aspx" protection="All" path="/" timeout="5000000" slidingExpiration="true"/>
    </authentication>
    <membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="LocalSqlServer" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="10" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="5" applicationName="/"/>
      </providers>
    </membership>
    <profile>
      <providers>
        <clear/>
        <add name="AspNetSqlProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="LocalSqlServer" applicationName="/"/>
      </providers>
      <properties>
        <add name="FullName"/>
        <add name="City"/>
        <add name="District"/>
        <add name="Address"/>
        <add name="Phone"/>
        <add name="Description"/>
        <add name="Company"/>
        <add name="Birth"/>
        <add name="SDate"/>
        <add name="TypeOfUser"/>
        <add name="ConfirmCode"/>
        <add name="GioiTinh"/>
        <add name="Nip"/>
        <add name="Mobile"/>
        <add name="Point"/>
        <add name="CurrentPoint"/>
        <add name="UsedPoint"/>
        <add name="GiftPoint"/>
        <add name="PointHistory"/>
        <add name="TypeOfAccount"/>
        <add name="FacebookId"/>
        <add name="GoogleId"/>
        <add name="FacebookLink"/>
        <add name="GoogleLink"/>
        <add name="ConfirmStatus" defaultValue="false" type="bool"/>
      </properties>
    </profile>
    <httpRuntime maxRequestLength="102400" requestValidationMode="2.0" maxQueryStringLength="102400"/>
    <!--upload up to 100Mb-->
    <roleManager enabled="true">
      <providers>
        <clear/>
        <add connectionStringName="LocalSqlServer" applicationName="/" name="AspNetSqlRoleProvider" type="System.Web.Security.SqlRoleProvider"/>
        <add applicationName="/" name="AspNetWindowsTokenRoleProvider" type="System.Web.Security.WindowsTokenRoleProvider"/>
      </providers>
    </roleManager>
    <customErrors mode="Off" defaultRedirect="404.htm">
      <error statusCode="404" redirect="404.htm"/>
    </customErrors>
    <sessionState mode="InProc" timeout="60"/>
  </system.web>
  <!-- software architects - CachingHandler -->
  <SoftwareArchitects>
    <Caching CachingTimeSpan="1">
      <FileExtensions>
        <clear/>
        <add Extension="gif" ContentType="image\gif"/>
        <add Extension="jpg" ContentType="image\jpeg"/>
        <add Extension="jpeg" ContentType="image\jpeg"/>
        <add Extension="png" ContentType="image\png"/>
      </FileExtensions>
    </Caching>
  </SoftwareArchitects>
  <system.webServer>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="1024000000"/>
      </requestFiltering>
    </security>
    <modules runAllManagedModulesForAllRequests="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <remove name="Routing"/>
      <remove name="ChartImage_axd"/>
      <remove name="Telerik_Web_UI_SpellCheckHandler_axd"/>
      <remove name="Telerik_Web_UI_DialogHandler_aspx"/>
      <remove name="Telerik_RadUploadProgressHandler_ashx"/>
      <remove name="Telerik_Web_UI_WebResource_axd"/>
      <add name="Routing" path="*" verb="*" modules="IsapiModule" scriptProcessor="C:\Windows\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" resourceType="Unspecified" requireAccess="None" preCondition="classicMode,runtimeVersionv4.0,bitness64"/>
      <add name="LessHttpHandler" type="dotless.Core.LessCssHttpHandler" preCondition="integratedMode" path="*.less" verb="*"/>
      <add name="Telerik_RadUploadProgressHandler_ashx" path="Telerik.RadUploadProgressHandler.ashx" type="Telerik.Web.UI.RadUploadProgressHandler" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_WebResource_axd" path="Telerik.Web.UI.WebResource.axd" type="Telerik.Web.UI.WebResource" verb="*" preCondition="integratedMode"/>
      <add name="Telerik_Web_UI_DialogHandler_aspx" verb="*" preCondition="integratedMode" path="Telerik.Web.UI.DialogHandler.aspx" type="Telerik.Web.UI.DialogHandler"/>
    </handlers>
    <httpCompression directory="%SystemDrive%\inetpub\temp\IIS Temporary Compressed Files">
      <scheme name="gzip" dll="%Windir%\system32\inetsrv\gzip.dll"/>
      <dynamicTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </dynamicTypes>
      <staticTypes>
        <add mimeType="text/*" enabled="true"/>
        <add mimeType="message/*" enabled="true"/>
        <add mimeType="application/x-javascript" enabled="true"/>
        <add mimeType="*/*" enabled="false"/>
      </staticTypes>
    </httpCompression>
    <urlCompression doStaticCompression="true" doDynamicCompression="true"/>
    <httpRedirect exactDestination="true" httpResponseStatus="Permanent"/>
    <httpErrors>
      <remove statusCode="401" subStatusCode="-1"/>
      <remove statusCode="403" subStatusCode="-1"/>
      <remove statusCode="404" subStatusCode="-1"/>
      <remove statusCode="500" subStatusCode="-1"/>
      <!--full url when responsemode is Redirect-->
      <error statusCode="401" prefixLanguageFilePath="" path="404.htm" responseMode="File"/>
      <!--local relative path when responsemode is ExecuteURL-->
      <error statusCode="403" prefixLanguageFilePath="" path="404.htm" responseMode="File"/>
      <error statusCode="404" prefixLanguageFilePath="" path="404.htm" responseMode="File"/>
      <error statusCode="500" prefixLanguageFilePath="" path="500.htm" responseMode="File"/>
    </httpErrors>
    <staticContent>
      <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="30.00:00:00"/>
    </staticContent>
  </system.webServer>
  <appSettings file="app.config">
    <add key="Telerik.Web.UI.DialogParametersEncryptionKey" value="d2a312d9-7af4-43de-be5a-ae717b46cea6"/>
  </appSettings>
</configuration>