<?xml version="1.0" encoding="UTF-8"?>
<oauth2.login.configuration>
  <web failedRedirectUrl="http://beta28.bicweb.vn/" />
  <oauth>
    <add name="Google"
         clientid="852954063752-6o4d238l6ldnsv7tvl5to5psa3jp3pe4.apps.googleusercontent.com"
         clientsecret="Z_lMbQMYsr7CcOKGYGPUrITa"
         callbackUrl="http://beta28.bicweb.vn/login-google.html"
         scope="https://www.googleapis.com/auth/userinfo.email+https://www.googleapis.com/auth/userinfo.profile" />
    <add name="Facebook"
         clientid="584963911659390"
         clientsecret="629c4a353884f51f86ffaf0e7094f1ec"
         callbackUrl="http://beta28.bicweb.vn/login-facebook.html"
         scope="public_profile,user_friends,email" />
    <add name="PayPal"
         clientid="xxx_CLIENT_ID_xxx"
         clientsecret="xxx_CLIENT_SECRET_xxx"
         callbackUrl="http://localhost:28950/AuthExternal/Callback/PayPal"
         scope="openid email"
         endpoint="sandbox" />
    <add name="Twitter"
         clientid="xxx_CLIENT_ID_xxx"
         clientsecret="xxx_CLIENT_SECRET_xxx"
         callbackUrl="http://127.0.0.1:28950/AuthExternal/Callback/Twitter" />
  </oauth>
</oauth2.login.configuration>